[toolchain]

[features]
resolution = true
skip-lint = false

[programs.testnet]
command = "EqGdRy5kD3kLhiY1NrNgpv144Z5GcL2FVSQsXDwjPD1o"
finish = "8ukdUrzW4seE9MUXY5Lwazt3ydw4Wtbr72C6EaFq8jsC"
game = "DcUL2DdypF14p5TZEBcEtpGSY843LM9vkokyoDahxWhk"
generate = "CqZi8eYYnTp1C58rfZVw8fxr2YZ1yUi3TcTz3zjj7NAu"
join = "FB4VQ795oSLE4q7D1RdyofkyA9LZNL4sLdoK4Py7VocG"
start = "2WJu82jnjZEYMKBJpo8B6b4JwN2yZfm7LDXzKihFW8FP"
tick = "EdCEZKUooqVVFxXfk6yHXq5En24ZYtrQQjLPr9x33M4k"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "testnet"
wallet = "~/.config/solana/id.json"

[workspace]
members = ["programs-ecs/components/*", "programs-ecs/systems/*"]

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[[test.genesis]]
address = "WorLD15A7CrDwLcLy4fRqtaTb9fbd8o8iqiEMUDse2n"
program = "tests/fixtures/world.so"
upgradeable = false

[test.validator]
bind_address = "0.0.0.0"
url = "https://rpc.magicblock.app/devnet/"
ledger = ".bolt/test-ledger"
rpc_port = 8899

[[test.validator.account]]
address = "EHLkWwAT9oebVv9ht3mtqrvHhRVMKrt54tF3MfHTey2K"
filename = "tests/fixtures/registry.json"
