.GamePlayer {
  flex-grow: 1;

  color: white;

  &.P0 {
    background-color: rgba(0, 0, 255, 0.3);
  }
  &.P1 {
    background-color: rgba(255, 0, 0, 0.3);
  }

  > .Description {
    opacity: 0.5;
  }
}
