.MenuBar {
  > .TopBar {
    font-weight: bold;
    color: white;
    padding: 4px;
    border: 0;
    background: linear-gradient(
      90deg,
      #8802ff 9.81%,
      #e101ff 56.17%,
      #e101ff 93.64%
    );
  }

  > .KeysBar {
    justify-content: start;
    > .Separator {
      flex-grow: 1;
      margin: 0;
    }
  }
}
