.MenuBar {
  > .TitleBar {
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(
      90deg,
      #8802ff 9.81%,
      #e101ff 56.17%,
      #e101ff 93.64%
    );
  }

  > .KeysBar {
    > .Separator {
      flex-grow: 1;
    }
  }
}
