.PageGamePlay {
  .Players {
    flex-direction: row;
    border: 2px solid rgba(255, 255, 255, 0.3);
    .Player {
      flex-grow: 1;
    }
  }
  .Map {
    align-items: center;
    .Grid {
      border: 2px solid rgba(255, 255, 255, 0.3);
    }
  }
}
