* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;

  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  flex-wrap: wrap;

  flex-direction: column;
  justify-content: start;
  align-items: stretch;

  line-height: 1.5;
  font-size: 16px;
  font-family: "Courier New", monospace;

  text-align: start;
  word-break: break-word;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
}
head {
  display: none;
}
#app {
  background-color: black;
  color: white;
}
.Content {
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.Text {
  padding: 4px 8px;
  text-align: center;
}
.Title {
  font-weight: bold;
}

.Container,
.ContainerOuter {
  padding: 4px;
}
.Container,
.ContainerInner {
  > * {
    margin: 4px;
  }
}

.Centered {
  align-items: center;
}
.Horizontal {
  flex-direction: row;
}

button {
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
  border: 2px solid white;

  &.Soft {
    background-color: transparent;
    color: white;
    border: 2px solid white;
  }

  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.7;
  }

  &.Disabled {
    cursor: not-allowed;
    pointer-events: none;
    touch-action: none;
    opacity: 0.5;
  }
}
