* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;

  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  flex-wrap: wrap;

  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  line-height: 1.5;
  font-size: 16px;
  font-family: "Courier New", monospace;

  text-align: start;
  word-break: break-word;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
}
head {
  display: none;
}
#app {
  background-color: black;
  color: white;
}
.Content {
  align-items: center;
  flex-grow: 1;
}

.Container,
.ContainerOuter {
  padding: 4px;
}
.Container,
.ContainerInner {
  > * {
    margin: 4px;
  }
}
.Centered {
  align-items: center;
}
.Horizontal {
  flex-direction: row;
}
